body {
  width: 1600px;
  margin: 0;
  font-family: Alegreya, sans-serif;
  font-size: 22px;
  color: #504747;
  background-color: #fffafb;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0;
}
.header {
  padding-top: 32px;
  margin-bottom: 171px;
  height: 1066px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar {
  margin-bottom: 223px;
}
.logo {
  height: 48px;
}
.navbar-menu {
  font-size: 24px;
  line-height: 160%; /* or 38px */
  list-style: none;
  width: 352px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 386px;
}
.navbar-link {
  color: #837171;
}
.navbar-link_active {
  border-bottom: 2px solid #ff2625;
  color: #3a1212;
}
.button {
  background-color: #fff;
  border: none;
}
.navbar__burger-button {
  background-color: #fff;
  border: none;
  width: 46px;
  height: 46px;
  padding: 0;
  filter: drop-shadow(0px 5px 10px rgba(255, 141, 141, 0.25));
}
.header-info {
  max-width: 472px;
}
.title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 160%; /* identical to box height, or 42px */
  color: #ff2625;
}
.header-info__title {
  margin-top: 0;
  margin-bottom: 39px;
}
.header-info__slogan {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%; /* or 88px */
  color: #3a1212;
  margin-top: 0;
  margin-bottom: 23px;
}
.header-info__text {
  line-height: 160%; /* or 35px */
  margin-top: 0;
  margin-bottom: 61px;
}
.button-group {
  width: 429px;
  display: flex;
  justify-content: space-between;
}
.primary-button {
  border-radius: 29px;
  width: 200px;
  height: 58px;
  background-color: #ff2625;
  border: none;
  color: #fff;
  font-family: Alegreya;
  font-weight: bold;
  font-size: 22px;
  line-height: 160%; /* or 35px */
  padding: 0;
  filter: drop-shadow(0px 20px 40px rgba(255, 155, 154, 0.25));
}
.info-button {
  border-radius: 29px;
  width: 200px;
  height: 58px;
  background-color: #fff;
  border: 1px solid #ff2625;
  color: #3a1212;
  font-family: Alegreya;
  font-size: 22px;
  line-height: 160%;
  padding: 0;
}
.header__background-image {
  position: absolute;
  width: 758px;
  height: 1007px;
  left: 842px;
  top: 0px;
  border-radius: 0px 0px 0px 107px;
  z-index: -1;
}
.play-button {
  width: 128px;
  height: 128px;
  background: transparent;
  border: none;
  filter: drop-shadow(0px 40px 80px rgba(255, 71, 70, 0.1));
}
.header__play-button {
  position: absolute;
  left: 785px;
  top: 479px;
  z-index: 1;
}
.header-shapes__background-title {
  position: absolute;
  width: 747px;
  height: 320px;
  left: 195px;
  top: 842px;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 200px;
  line-height: 160%; /* identical to box height, or 320px */
  color: rgba(255, 38, 37, 0.05);
  z-index: -2;
}
.header-shapes__dots {
  position: absolute;
  width: 118px;
  height: 134px;
  left: 1458px;
  top: 932px;
}
.dots {
  fill: #ff2625;
  fill-opacity: 0.6;
  width: 118px;
  height: 134px;
}
.services__title {
  text-align: center;
  margin-bottom: 28px;
  margin-top: 0;
}
.services__subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 57px;
}
.services {
  margin-bottom: 212px;
}
.subtitle {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%; /* or 57px */
  color: #3a1212;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 282px;
  padding: 65px 0 49px;
  background: #fff;
  border: 0.5px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 35px;
  cursor: pointer;
}
.card_active {
  height: 332px;
  padding-bottom: 23px;
  filter: drop-shadow(0px 40px 120px rgba(255, 169, 169, 0.15));
  cursor: auto;
}
.card__name {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%; /* or 29px */
  color: #3a1212;
}
.card_active__info-button {
  line-height: 120%; /* or 26px */
  text-align: center;
  color: #ff2625;
}
.arrow-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slider__arrow-buttons {
  position: relative;
  right: 0;
}

.arrow_active {
  filter: drop-shadow(0px 10px 10px rgba(255, 38, 37, 0.25));
}
.two-columns {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 30px;
}
.two-columns__image_left {
  border-radius: 2px 2px 100px 2px;
}
.two-columns__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 502px;
  height: 667px;
}
.two-columns__info_right {
  margin-left: auto;
}
.two-columns__title {
  margin-bottom: 28px;
  margin-top: 0;
}
.two-columns__subtitle {
  margin-bottom: 22px;
  margin-top: 0;
}
.two-columns__text {
  margin-bottom: 42px;
  margin-top: 0;
}
.section2-shapes__dots {
  position: absolute;
  left: 172px;
  top: 1994px;
}
.section2 {
  margin-bottom: 213px;
}
.two-columns__image_right {
  border-radius: 100px 2px 2px 2px;
  margin-left: auto;
}
.section3-shapes__dots {
  position: absolute;
  left: 1310px;
  top: 3542px;
}
.section3 {
  margin-bottom: 190px;
}
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section4__title {
  margin-bottom: 28px;
  margin-top: 0;
}
.section4__subtitle {
  margin-bottom: 24px;
  margin-top: 0;
}
.instructors-slider {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.instructors-slider__cards {
  width: 970px;
  display: flex;
  justify-content: space-between;
  margin-right: 49px;
}
.instructors-slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.instructors-slider__image {
  margin-bottom: 38px;
}
.instructors-slider__name {
  margin-bottom: 1px;
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.instructors-slider__post {
  margin: 0;
  font-size: 20px;
  line-height: 160%; /* identical to box height, or 32px */
}
.instructors-slider__arrow-buttons {
  margin-top: auto;
}
.section4 {
  margin-bottom: 204px;
}
.section5 {
  position: relative;
  max-height: 719px;
  margin-bottom: 230px;
}
.section5__image {
  display: inline-block;
  border-radius: 100px 2px 2px 2px;
  margin-right: 100px;
}
.section5__text {
  display: inline-block;
  vertical-align: top;
}
.section5__title {
  margin-top: 0;
  margin-bottom: 28px;
}
.section5__subtitle {
  margin: 0;
}
.feedback {
  width: 624px;
  height: 426px;
  background: #ffffff;
  border-radius: 2px 100px 2px 2px;
  filter: drop-shadow(0px 40px 80px rgba(255, 169, 169, 0.15));
  box-sizing: border-box;
  z-index: 1;
}
.section5__feedback {
  position: absolute;
  top: 244px;
  left: 446px;
  padding: 79px 60px 60px 60px;
}
.feedback__message {
  font-family: Josefin Sans;
  font-style: italic;
  font-weight: normal;
  line-height: 160%; /* or 35px */
  margin-bottom: 39px;
  margin-top: 0;
}
.feedback__name {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%; /* or 31px */
  color: #3a1212;
  margin-bottom: 8px;
  margin-top: 0;
}
.feedback__location {
  font-family: Josefin Sans;
  font-size: 18px;
  line-height: 130%; /* or 23px */
  margin: 0;
}
.feedback__bottom {
  display: flex;
  justify-content: space-between;
}
.feedback__arrow-buttons {
  margin-top: auto;
}
.feedback__quotes {
  position: absolute;
  left: 0px;
  top: 0px;

  font-family: Montserrat;
  font-style: italic;
  font-size: 300px;
  line-height: 160%; /* or 480px */

  color: rgba(255, 38, 37, 0.08);
}
.section5__dots_big {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.dots_big {
  fill: #ff2625;
  opacity: 0.6;
  width: 159px;
  height: 181px;
}
.subscribe {
  margin-bottom: 262px;
}
.subscribe__title {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}
.subscribe__text {
  margin: 0 auto 36px;
  text-align: center;
  width: 633px;
}
.subscribe-panel {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 40px 80px rgba(255, 169, 169, 0.25));
}
.subscribe-panel__input-email {
  padding-left: 79px;
  box-sizing: border-box;
  width: 632px;
  height: 76px;
  background: #fff;
  border-radius: 36.5px 0 0 36.5px;
  border: none;
  font-family: Alegreya;
  font-size: 20px;
  line-height: 160%;
  outline: none;
}
.subscribe-panel__button {
  background: #fff;
  height: 76px;
  vertical-align: top;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 0 36.5px 36.5px 0;
}
.footer {
  padding: 67px 215px 55px;
  background: rgba(255, 243, 244, 0.9);
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__info {
  width: 333px;
}
.text-logo {
  width: 202px;
  height: 52px;
}
.text-logo__logo {
  float: left;
}
.text-logo__text {
  float: left;
  font-family: Abril Fatface;
  font-style: italic;
  font-size: 28px;
  line-height: 120%; /* identical to box height, or 34px */
  color: #3a1212;
  margin-top: 18px;
  margin-left: 14px;
}
.footer-info__text {
  font-family: Alegreya;
  line-height: 34px; /* or 155% */
  letter-spacing: -0.02em;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
}
.footer-nav {
  display: inline-block;
}
.footer-nav:not(:last-child) {
  margin-right: 168px;
}
.footer-nav__title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px; /* identical to box height, or 125% */
  color: #3a1212;
  margin-top: 0;
  margin-bottom: 39px;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 18px;
}
.copyright {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 12px;
  line-height: 120%; /* or 14px */
  color: #a69b9b;
  margin: 0;
  text-align: center;
}
.love-image {
  vertical-align: middle;
}
.rectangle {
  position: absolute;
  background: rgba(255, 38, 37, 0.04);
  border-radius: 5px;
}
.rectangle1 {
  width: 114.03px;
  height: 158.33px;
  left: 0px;
  top: 187px;
}
.rectangle2 {
  width: 103.37px;
  height: 217.4px;
  left: 29px;
  top: 255px;
}
.rectangle3 {
  width: 114.03px;
  height: 158.33px;
  left: 1486px;
  top: 2476px;
}
.rectangle4 {
  width: 103.37px;
  height: 217.4px;
  left: 1453px;
  top: 2566px;
}
.rectangle5 {
  width: 114.03px;
  height: 158.33px;
  left: 0px;
  top: 3647px;
}
.rectangle6 {
  width: 103.37px;
  height: 217.4px;
  left: 44px;
  top: 3738px;
}
.rectangle7 {
  width: 114.03px;
  height: 158.33px;
  left: 1486px;
  top: 4658px;
}
.rectangle8 {
  width: 103.37px;
  height: 217.4px;
  left: 1453px;
  top: 4748px;
}
.rectangle9 {
  width: 114.03px;
  height: 158.33px;
  left: 0px;
  top: 5518px;
}
.rectangle10 {
  width: 103.37px;
  height: 217.4px;
  left: 44px;
  top: 5609px;
}
.illustration {
  position: absolute;
}
.illustration1 {
  width: 26px;
  height: 26px;
  left: 407px;
  top: 308px;
}
.illustration2 {
  width: 52px;
  height: 52px;
  left: 62px;
  top: 1157px;
}
.illustration3 {
  width: 50px;
  height: 50px;
  left: 1071px;
  top: 1988px;
}
.illustration4 {
  width: 53px;
  height: 53px;
  left: 1497px;
  top: 2164px;
}
.illustration5 {
  width: 58px;
  height: 58px;
  left: 50px;
  top: 2447px;
}
.illustration6 {
  width: 53px;
  height: 53px;
  left: 1081px;
  top: 2704px;
}
.illustration7 {
  width: 52px;
  height: 52px;
  left: 472px;
  top: 2852px;
}
.illustration8 {
  width: 53px;
  height: 53px;
  left: 50px;
  top: 3164px;
}
.illustration9 {
  width: 53px;
  height: 53px;
  left: 423px;
  top: 3685px;
}
.illustration10 {
  width: 50px;
  height: 50px;
  left: 1182px;
  top: 3827px;
}
.illustration11 {
  width: 53px;
  height: 53px;
  left: 87px;
  top: 4183px;
}
.illustration12 {
  width: 58px;
  height: 58px;
  left: 119px;
  top: 4572px;
}
.illustration13 {
  width: 52px;
  height: 52px;
  left: 1173px;
  top: 4606px;
}
.illustration14 {
  width: 50px;
  height: 50px;
  left: 800px;
  top: 5499px;
}
.illustration15 {
  width: 60px;
  height: 60px;
  left: 1311px;
  top: 5891px;
}
.illustration16 {
  width: 53px;
  height: 53px;
  left: 287px;
  top: 5915px;
}
